$color1: #04383d;
$color2:#02555e;
$color3:#e66d64;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    width: 100%;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    height: 100%;
}

header {
    display: block;
    height: 60px;
    background-color: #fff;
    .logo {
        padding-top: 10px;
        position: relative;
        z-index: 12;
        img {
            width: 230px;
        }
    }
}
.colas {
    position: fixed;
    right: 0;
    display: flex;
    top: 0;
    width: 80px;
    height: 60px;
    background: $color1;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 5;
}
.nav-bar {
    background-color: $color1;
    span {
        display: block;
        height: 2px;
        width: 30px;
        background-color: #fff;
        &:nth-last-of-type(2) {
            margin: 7px 0;
        }
    }
}
.navlist {
    position: fixed;
    right: -100px;
    top: 60px;
    width: 80px;
    height: 100%;
    background: $color1;
    transition: 0.4s ease-in-out;
    z-index: 20;
    &.active {
        right: 0;
    }
    ul {
        margin: 0;
        padding: 0;
        margin-bottom: 0;
        list-style: none;
    }
    .dropdown-list {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
        border-bottom: 1px solid rgba($color: $color2, $alpha: 1);
        text-align: center;
        cursor: pointer;
        position: relative;
        transition: 0.4s ease-in-out;
        &:first-child {
            border-top: 1px solid rgba($color: $color2, $alpha: 1);
        }
        .dropdown-menus {
            position: absolute;
            right: 100%;
            top: 0;
            height: auto;
            padding: 0;
            margin: 0;
            margin-bottom: 0;
            columns: 2;
            column-gap: 0;
            z-index: 5;
            display: none;
            transition: 0.4s ease-in-out;
            li{
                background: $color2;
                padding: 15px ;
                width: 100px;
                border-bottom: 1px solid rgba($color: $color1, $alpha: 0.7);
                border-right: 1px solid rgba($color: $color1, $alpha: 0.7);
                transition: 0.4s ease-in-out;
                &:hover {
                    background: $color1;
                }
            }
        }
        &:hover {
            background: $color2;
        }
        &:hover .dropdown-menus{
            display: block;
        }
        a {
            color: #fff;
            text-decoration: none;
            i {
                font-size: 25px;
                display: block;
            }
            span {
                font-size: 12px;
                text-transform: uppercase;
            }
        }
    }
}
button:focus{
    outline: 0;
}
.owl-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #fff;
}
.owl-theme .owl-dots .owl-dot span {
 
    background: #b94436;
  
}
.slider-section{
    position: relative;
}
.banner-form{
    position: absolute;
    top: 0;
    left: 60%;
    width: 400px;
    height: auto;
    background: #fff;
    z-index: 16;
    padding: 30px 0;
    box-shadow: 0px 6px 9px #0000006b;
    .social-link{
        margin-top: 10px;
        width: 250px;
        text-decoration: none;
      
        display: flex;
        margin: 20px auto;
        padding: 10px 0;
        color: #fff;
        &.bg-f{
            background: #3b5998;
        }
        &.bg-g{
            background: #dd4832;
        }
        &.bg-l{
            background: #66a6ca;
        }
        &.bg-f{
            background: #34495e;
        }
        span:nth-of-type(1){
            padding: 0 15px;
            border-right: 1px solid rgba($color: #fff, $alpha: 0.7);
        }
        span:nth-of-type(2){
            flex: 1;
        }
        
    }
}

h1.form-title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    padding: 10px 0;
    margin: 0;
    color: $color1;
    font-weight: 500;
    span{
        color: $color3;
    }

}